
.footer-container {
    background: #4B3D2D;
    color: #ffffff;
    padding: 40px 0 10px;
    font-family: Arial, sans-serif;
	flex-direction: column;
	
}

.footer-section-1 {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	align-items: start;
	flex-direction: column;
}

.footer-section-1 {
    width: 30%;
    margin-bottom: 20px;
}

.footer-section-2 h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color:#e3d4b9;
	background-color: #4B3D2D;
}

.footer-section-2
.footer-section-2 li {
    font-size: 15px;
    line-height: 1.5;
}

.footer-section-2 ul {
    list-style: none;
    padding: 0;
}

.footer-section-2 ul li {
    margin-bottom: 8px;
}

.footer-section-2 {
    color: #ffffff;
    text-decoration: none;
}

.footer-section-2:hover {
    color: #ffff;
}

.contact-item{
	display: flex;
	align-items: center;
	background-color: #4B3D2D;

}
.social-media-icons img {
    width: 35px;
    height: 35px;
    margin: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
	background-color: #4B3D2D;
    padding: 10px 0;
    border-top: 1px solid;
    font-size: 14px;
    color: #dddddd;
}

@media (max-width: 768px) {
    .footer-box {
        width: 100%;
        text-align: center;
    }

    .footer-container {
        text-align: center;
	}
}
